.report-container {
    padding: 30px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    width: 90%;
    margin: auto;
  }
  
  .report-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 40px;
    
  }
  
  .report-filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .report-filters span{
    color: rgb(80, 79, 79);
   margin-left: 0;
  }
  .report-date,
  .report-table-search {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 200px;
  }
  
  .report-download-btn {
    background-color: #ffd600;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    width: 950px;
    margin-top: 12px;
  }
  .report-download-btn:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
  }
  
  .report-table-wrapper {
    overflow-x: auto;
  }
  
  .report-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .report-table thead {
    background-color: #f0f0f0;
    color: grey;
  }
  
  .report-table th,
  .report-table td {
    text-align: left;
    padding: 12px 16px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .report-table tr:hover {
    background-color: #fafafa;
  }
  
 

  
  
  